page-chat {
	.innerMessage {
		display: inline-block;
		padding: 5px 10px;
		background: color($colors, 'primary');
		margin: 5px;
		color: white;
		border-radius: 3px;
	}
	.innerMessage.messageRight {
		background: color($colors, 'secondary');
	}
	.username {
		font-weight: bold;
		font-size: 80%;
	}
	.message {
		font-size: 120%;
	}
	.elem button {
	    border-radius: 0;
	    margin: 0;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
	.elem {
		position: relative;
		min-width: 50px;
	}
	div#footer div.elem:first-child {
	    flex-grow: 1;
	}
	div#footer {
	    display: flex;
	    flex-direction: row;
	    align-items: stretch;
	}

	ion-input{
		padding-left: 15px;
		font-size: 125%;
	}
	ion-toolbar {
		margin: 0;
		padding: 0!important;
	}
	.message:after {
		content: '';
		display: block;
		clear: both;
	}
	.messageLeft {
		float: left;
	}
	.messageRight {
		float: right;
	}

	.message.special .innerMessage .messageContent{
		background: white;
		display: inline-block;
		padding: 0 10px;
	}

	.message.special .innerMessage:before{
		content: '';
		height: 2px;
		background: #eee;
		display: block;
		top: 50%;
		position: absolute;
		left: 0;
		width: 100%;
		z-index: -1;
	}

	.message.special .innerMessage{
		background: transparent;
		color: black;
		font-size: 80%;
		width: 100%;
		float: none;
		text-align: center;
		position: relative;
    }
    .avatar{
        height:50px;
        width: 50px;
        border-radius: 50%;
        background: #1b1b1b;
	}
	
	.clear {clear: both}
	.from-me {
		position:relative;
		padding:10px 20px;
		color:white; 
		margin: 5px;
		background:#0B93F6;
		border-radius:25px;
		float: right;
			
		&:before {
			content:"";
			position:absolute;
			z-index:-1;
			bottom:-2px;
			right:-7px;
			height:20px;
			border-right:20px solid #0B93F6;
			border-bottom-left-radius: 16px 14px;
			-webkit-transform:translate(0, -2px);
		}
	
		&:after {
			content:"";
			position:absolute;
			z-index:1;
			bottom:-2px;
			right:-56px;
			width:26px;
			height:20px;
			background:white;
			border-bottom-left-radius: 10px;
			-webkit-transform:translate(-30px, -2px);
		}
	}
	.from-them {
		position:relative;
		padding:10px 20px;
		background:#E5E5EA;
		border-radius:25px;
		margin: 5px;
		color: black;
	  float: left;
			
		&:before {
			content:"";
			position:absolute;
			z-index:2;
			bottom:-2px;
			left:-7px;
			height:20px;
			border-left:20px solid #E5E5EA;
			border-bottom-right-radius: 16px 14px;
			-webkit-transform:translate(0, -2px);
		}
	
		&:after {
			content:"";
			position:absolute;
			z-index:3;
			bottom:-2px;
			left:4px;
			width:26px;
			height:20px;
			background:white;
			border-bottom-right-radius: 10px;
			-webkit-transform:translate(-30px, -2px);
		}
	}
}
